# .env.example
# Google OAuth 2.0 Client ID
GOOGLE_CLIENT_ID=404256862740-462lsq4a1gaveksf2m8b7glg19uonduf.apps.googleusercontent.com

# Google API Key
GOOGLE_API_KEY=AIzaSyCj8ew6q5LnIbabIEP4WdtNtslneqOD5Jw

# Vercel deployment URL (будет доступен после деплоя)
VERCEL_URL=your-app.vercel.app