# .env.example
# Google OAuth 2.0 Client ID
GOOGLE_CLIENT_ID=1035260155104-mmbr49mi4mhbu5guvu5oc6mhaosjv1v0.apps.googleusercontent.com

# Google API Key
GOOGLE_API_KEY=AIzaSyCseqzStVZGyGMGyao0Oxu6y28ytNw4cOI

# Vercel deployment URL (будет доступен после деплоя)
VERCEL_URL=entertainmentforslim-app.vercel.app
